.footer__about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(60px + 4.5rem); /* 30px for bottom padding + 1.5 rem - max font-size for __title */
}

@media screen and (min-width: 380px){
    .footer__about {
        flex-direction: row;
        height: auto;
        text-align: center;
    }
}