.header__main-row {
    height: 57px;
    line-height: 57px;
    text-align: center;
}

@media screen and (min-width: 570px){
    .header__main-row {
        height: 67px;
        line-height: 67px;
    }
}