.banner__img_diagonal_ltr {
    width: 109px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../diagonal.png");
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: scale(1, -1);
}

@media screen and (min-width: 647px){
    .banner__img_diagonal_ltr {
        width: 141px;
        height: 104px;
    }
}

@media screen and (min-width: 1366px){
    .banner__img_diagonal_ltr {
        width: 232px;
        height: 176px;
    }
}