.menu__item {
    padding-right: 25px;
    cursor: pointer;
}

@media screen and (min-width: 647px){
    .menu__item {
        padding-right: 35px;
    }
}

.menu__item:first-child {
    padding-left: 0px;
}

.menu__item:last-child {
    padding-right: 0px;
}