.banner__img_main {
    width: 202px;
    height: 249px;
    background-image: url("banner_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -15px;
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 647px){
    .banner__img_main {
        width: 264px;
        height: 319px;
    }
}

@media screen and (min-width: 1366px){
    .banner__img_main {
        width: 430px;
        height: 517px;
    }
}